nav ul {
    list-style: none; /* لإزالة علامات النقاط */
    padding: 0; /* لإزالة المسافة الداخلية الافتراضية */
    margin: 0; /* لإزالة الهامش الافتراضي */
    background-color: #f0f0f0; /* لون خلفية القائمة */
    overflow: hidden; /* لمنع أي مشاكل في التخطيط */
  }
  
  nav ul li {
    float: left; /* لجعل العناصر تظهر بجانب بعضها البعض من اليمين إلى اليسار (مناسب للغة العربية) */
  }
  
  nav ul li a {
    display: block; /* لجعل الرابط يملأ مساحة العنصر <li> بالكامل */
    color:#ffc800c7; /* لون النص */
    text-align: center; /* توسيط النص */
    padding: 14px 16px; /* مساحة داخلية حول النص */
    text-decoration: none; /* لإزالة الخط التحتي */
  }
  
  nav ul li a:hover {
    background-color: #ddd; /* تغيير لون الخلفية عند التhover */
  }
    
   { margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial' ,sans-serif } 
    .hero-section{
        background-image: url('pngtree-a-restaurant-with-a-glass-facade-image_13310231.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay{
        background-color: rgb(0,0,0,0.4);
        padding: 40px;
        text-align: center;
        border-radius: 10px;
        color: white;
    }
h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
p{
    font-size: 1.5rem;
    margin-bottom:20px ;
}
#menuButton{
    background-color: #ffc800c7;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 8px ;
    cursor: pointer;
    transition: background-color 0.3s;
}
#menuButton:hover{
    background-color: #e03e00;
}
        
    

