nav ul {
    list-style: none; /* لإزالة علامات النقاط */
    padding: 0; /* لإزالة المسافة الداخلية الافتراضية */
    margin: 0; /* لإزالة الهامش الافتراضي */
    background-color: #f0f0f0; /* لون خلفية القائمة */
    overflow: hidden; /* لمنع أي مشاكل في التخطيط */
  }
  
  nav ul li {
    float: left; /* لجعل العناصر تظهر بجانب بعضها البعض من اليمين إلى اليسار (مناسب للغة العربية) */
  }
  
  nav ul li a {
    display: block; /* لجعل الرابط يملأ مساحة العنصر <li> بالكامل */
    color:#ffc800c7; /* لون النص */
    text-align: center; /* توسيط النص */
    padding: 14px 16px; /* مساحة داخلية حول النص */
    text-decoration: none; /* لإزالة الخط التحتي */
  }
  
  nav ul li a:hover {
    background-color: #ddd; /* تغيير لون الخلفية عند التhover */
  }
  div > h1{
    color: #ffc800c7;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

div> img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
    height: 700px;
    background-color: beige;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}
.content h2{
   font-size: 32px;
   font-weight: 200;
   padding-left: 70px;
}
.content p{
    color: gray;
    font-size: 16px;
    padding-left: 70px;
}
.content span{
    color: #ffc800c7;
    font-weight: 200;
    padding-left: 70px;
    font-size: 32px;
}
.content button{
    position:sticky;
    top: 0;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffc800c7;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
}

